.flashcards body {
  background: #eee; }

.flashcards .card {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 300px;
  height: 200px;
  margin: -150px;
  float: left;
  overflow-wrap: break-word; }

.flashcards .content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  overflow-wrap: break-word; }

.flashcards .card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s; }

.flashcards .front,
.flashcards .back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  text-align: center;
  color: #03446A;
  font-size: 14px;
  border-radius: 5px;
  backface-visibility: hidden; }

.flashcards .back {
  background: #03446A;
  color: white;
  transform: rotateY(180deg); }
