@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';
.flashcards { }
  .flashcards body {
    background: #eee; }
  .flashcards .card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin: -150px;
    float: left;
    perspective: 500px; }
  .flashcards .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d; }
  .flashcards .card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s; }
  .flashcards .front,
  .flashcards .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    line-height: 300px;
    color: #03446A;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    backface-visibility: hidden; }
  .flashcards .back {
    background: #03446A;
    color: white;
    transform: rotateY(180deg); }
