.home {
  /* parallax */ }
  .home .landing {
    /* margin-top: -75px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'ready'; }
  .home .ready {
    grid-area: ready;
    justify-content: center; }
  .home .ready img {
    flex-shrink: 0;
    height: auto;
    width: 95vw; }
  .home .ready-video {
    grid-area: ready;
    z-index: -1; }
  .home .active-video {
    height: auto;
    width: 95vw; }
  .home .card-title {
    margin: 15px auto;
    text-align: center; }
  .home .headings {
    text-align: center; }
  .home .section {
    text-align: center;
    padding: 70px;
    width: fill; }
  .home .card {
    margin: 20px;
    box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, 0.24);
    height: 250px;
    width: auto; }
  .home .sectionName {
    margin: -15px; }
  .home .section-light {
    background-color: #88BDBC; }
  .home .section-dark {
    background-color: #fff; }
