.home {
  /* parallax */ }
  .home .landing {
    /* margin-top: -75px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'ready'; }
  .home .ready {
    grid-area: ready;
    justify-content: center; }
  .home .ready img {
    flex-shrink: 0;
    height: auto;
    width: 95vw; }
  .home .ready-video {
    grid-area: ready;
    z-index: -1; }
  .home .active-video {
    height: auto;
    width: 95vw; }
  .home .section {
    text-align: center;
    padding: 80px;
    width: fill;
    color: #000; }
  .home .section-light {
    background-color: #fff; }
  .home .section-dark {
    background-color: #88BDBC; }
