.navbar {
    min-height: 20px;
}

.navbarNav {
    font-size: 20px;
}

.logo {
    height: 100px;
    width: 100px;
}

.navlinks:visited,
.navlinks:active,
.navlinks:link,
.navlinks:focus {
    color: #9d9d9d;
    text-decoration: none;
    margin-left: 5px;  
}

.navlinks:hover {
    color: #3AAFA9;
}