.quiz {
  .actions {
    width: 200px;
    height: 100px;
    margin: auto;
  }
  .card-title {
    margin: 15px auto;
    text-align: center;
  }
  .headings {
    text-align: center;
  }
  .section-light {
    background-color: #fff;
  }
  .section-dark {
    background-color: #3AAFA9;
  }
  .section {
    text-align: center;
    padding: 50px;
    width: fill;
  }
  .section .card{
  margin-top: 30px;
  }

  .card {
    box-shadow: 0 0.3125rem 1rem 0 rgba(0, 0, 0, 0.24);

    &::before,
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: opacity .38s ease-in-out, transform .35s ease-in-out;
      content: '';
      opacity: 0;
      pointer-events: none;
    }
    &::before {
      transform: scale3d(0, 1, 1, 1);
      transform-origin: left top;
      border-top: 1px solid #acacac;
      border-bottom: 1px solid #acacac;
    }
    &::after {
      transform: scale3d(1, 0, 1, 1);
      transform-origin: right top;
      border-right: 1px solid #3AAFA9;
      border-left: 1px solid #3AAFA9;
      border-top: 1px solid #3AAFA9;
      border-bottom: 1px solid #acacac;
    }
    &:hover,
    &:focus {
      &::before,
      &::after {
        transform: scale3d(1, 1, 1);
        opacity: 3;
      }
    }
  }
  .section-light .card {
    width: auto;
  }
}

@media (max-width:768px) {
  .section-light .card {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 300px;
  }
}